<h2 class="text-center">商品评价</h2>

<div class="col-md-4 col-md-offset-4">
  <%= simple_form_for [@product,@post] do |f| %>
    <div class="field">
  味道：  <div id="star-rating"></div>
    </div>
    <div class="field">
  外观：  <div id="star-look"></div>
    </div>
    <div class="field">
  价格：  <div id="star-price"></div>
    </div>
    <div class="form-group">
      <%= f.input :content, label: "内容", input_html: { class: "form-control"} %>
    </div>
    <div class="form-actions">
      <%= f.submit "提交", disable_with: "Submiting...", class: "g-btn pl15 pr15 mt20 ml20 tc col-red f20 bg-red bc"%>
    </div>
  <% end %>
</div>
