/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import "chosen";
@import "font-awesome";

@import url(http://fonts.googleapis.com/css?family=Roboto);

html {
  position: relative;
  min-height: 100%;
}

/*body {*/
  /*margin-bottom: 150px;*/
  /*padding-top: 65px;*/
/*}*/

/*.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 150px;
  text-align: center;
}*/

.container-1{
  margin-top: 50px;
  width: 100%;
}

.cuadro_intro_hover{
        padding: 0px;
		position: relative;
		overflow: hidden;
		height: 200px;
	}
	.cuadro_intro_hover:hover .caption{
		opacity: 1;
		transform: translateY(-150px);
		-webkit-transform:translateY(-150px);
		-moz-transform:translateY(-150px);
		-ms-transform:translateY(-150px);
		-o-transform:translateY(-150px);
	}
	.cuadro_intro_hover img{
		z-index: 4;
	}
	.cuadro_intro_hover .caption{
		position: absolute;
		top:150px;
		-webkit-transition:all 0.3s ease-in-out;
		-moz-transition:all 0.3s ease-in-out;
		-o-transition:all 0.3s ease-in-out;
		-ms-transition:all 0.3s ease-in-out;
		transition:all 0.3s ease-in-out;
		width: 100%;
	}
	.cuadro_intro_hover .blur{
		background-color: rgba(0,0,0,0.7);
		height: 300px;
		z-index: 5;
		position: absolute;
		width: 100%;
	}
	.cuadro_intro_hover .caption-text{
		z-index: 10;
		color: #fff;
		position: absolute;
		height: 300px;
		text-align: center;
		top:-20px;
		width: 100%;
	}


  .messages {
    max-height: 400px;overflow-y: auto;margin-bottom: 1em;margin-top: 1em;
  }

  .round-image-50 {
  background-color: white;
  border: 1px solid #d9d9d9;
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  height: 50px;
  width: 50px;
  overflow: hidden;
  text-align: center;
  img { width: 100% }
}

/*global*/
body {
  color: #2E2E2E;
  font-family: "Microsoft Yahei",verdana;
  background: #FFFFFF;
}
a {
  color: #6D6D6D;
}
a:hover {
  color: #C81623;
  text-decoration: none;
}
.main-content {
  min-height: 850px;
}

/*字体颜色和背景颜色*/
.bg-gray {
  background: #F5F5F5
}
.bg-red {
  background: #D32048
}
.col-gray {
  color: #808080;
}
.col-black {
  color: #333333;
}
.col-red {
  color: #d32048;
}

/*边框*/
.border {
  border: 1px solid #DDDDDD;
}

.navbar-wrap {
  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid #EEEEEE;
  overflow: hidden;
  color: #909090;
}
.jh_navbar-spacer {
  width: 1px;
  height: 12px;
  margin-top: 9px;
  padding: 0;
  background: #ddd;
  overflow: hidden;
}

/*logo*/
.logo {
  font-size: 36px;
}

/*logo*/
.logo {
  width: 360px;
  height: 60px;

}

/*search*/
.search {
  width: 400px;
}
.search-input {
  height: 36px;
  line-height: 36px;
  color: #666;
  padding: 4px 20px;
  margin-bottom: 4px;
  border-width: 2px;
  border-color: #D32048;
  border-style: solid;
  outline: 0;
  font-size: 14px;
  font-family: "microsoft yahei";
  border-radius: 20px;
}
.search-button {
  width: 54px;
  height: 36px;
  border: none;
  line-height: 1;
  color: #fff;
  background: none;
  font-family: "Microsoft YaHei";
  font-size: 16px;
  cursor: pointer;
  top: 0;
  right: 0px;
}

/*按钮*/
.g-btn {
  display: block;
  width: 178px;
  height: 48px;
  line-height: 48px;
  border: 1px solid #d32048;
  font-family: "Microsoft Yahei",simhei;
  border-radius: 50px;
  color: #fff;
}

/*cart*/
.cart {
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
  border: 1px solid #DFDFDF;
  &:hover {
    background: #fff;
  }
}
.cart-left {
  margin-left: 238px;
}

/*menu*/
.menu-wrap {
  background: #333333;
  height: 42px;
  line-height: 42px;
  color: #fff;
}
.menuList-item {
  a {
    color: #FFF;
  }
  padding: 0 22px;
  cursor: pointer;
}
.menuList-item:hover {
  background-color: #434343;
}
.menuList-activeItem {
  background: #D32048;
}
.menuList-activeItem:hover {
  background: #D32048;
}


/*banner*/
.banner img {
  width: 1200px;
  height: 360px;
}

/*排序*/
.order {
  background: #fff;
  height: 44px;
  line-height: 44px;
}
.orderList-orderItem {
  cursor: pointer;
}
.orderList-activeItem a {
  color: #d32048; 
}

/*商品列表*/
.productList-wrap {
  width: 1220px;
}
.productList {
  margin-bottom: 0;
}
.productList-item {
  width: 230px;
  height: 350px;
  background: #fff;
  margin-right: 12px;
  margin-bottom: 12px;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.09);
  position: relative;
  top: 0;
  -webkit-transition: all .4s;
  transition: all .4s;
  &:hover {
    position: relative;
    top: -5px;
    box-shadow: 1px 2px 4px 0 rgba(0, 0, 0, 0.15);
  }
}
.productList-lastItem {
  margin-right: 0;
}
.productList-item-name {
  color: #333;
}
.productList-item-desc {
  color: #808080;
}

/*footer*/
.footer-nav {
  background: #201f21;
  padding: 35px 0 20px 0;
  .columns {
    max-width: 980px;
    margin: 0 auto;
    .column {
      width: 70px;
      line-height: 200%;
      margin: 0 0 10px 25px;
    }
    .colum-right {
      float: right;
      width: 200px;
      li {
        padding: 0;
        display: block;
        white-space: nowrap;
      }
      .icon-gamepad {
        display: inline-block;
        height: 50px;
        font-size: 0;
        margin-right: 50px;
      }
      h3 {
        color: #fff;
        opacity: .5;
        margin-top: 0;
        font-size: 24px;
      }
      h4 {
        .fa {
          font-size: 18px;
          margin-right: 10px;
        }
      }
      .a-icon {
        display: inline-block;
        width: 28px;
        height: 28px;
        border: 1px #92a0a9 solid;
        border-radius: 40px;
        text-align: center;
        font-size: 14px;
        box-sizing: border-box;
        padding-top: 0;
        margin-right: 10px;
        cursor: pointer;
        vertical-align: middle;
        margin-top: 10px;
        .fa {
          display: block;
          margin-top: 6px;
          color: #92a0a9;
        }
      }
      .a-weixin {
        position: relative;
        display: inline-block;
      }
    }
    li {
      h2 {
        font-size: 16px;
        color: #fff;
        font-weight: 700;
        margin-bottom: 22px;
        opacity: .5;
      }
      a {
        color: #fff;
        opacity: .5;
        white-space: nowrap;
        line-height: 36px;
      }
    }
  }
}

/*拉票小功能*/
.sidebar {
  display: none;
  position: fixed;
  z-index: 998;
  right: 30px;
  bottom: 30px;
  width: 40px;
  height: auto;
  line-height: 20px;
  * {
    box-sizing: border-box;
  }
  ul {
    padding: 0;
  }
  li {
    position: relative;
    display: block;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    margin-top: 8px;
    background: #fbfbfb;
    line-height: 42px;
    &:hover {
      background: #eee;
    }
    &:first-child {
      margin-top: 0;
    }
    &.backtop i {
      font-size: 18px;
    }
    &.support {
      i {
        font-size: 20px;
      }
      .ewm {
        line-height: 22px;
        display: none;
        left: 0px;
        opacity: 0;
        position: absolute;
        z-index: 1;
        opacity: 0;
        display: none;
        left: 0;
        top: 50%;
        margin-top: -68px;
        width: 136px;
        height: 136px;
        padding-right: 20px;
        p {
          background: #eee;
          border-radius: 3px;
          padding: 12px;
        }
      }
    }
    i {
      color: #555;
    }
  }
}

.footer {
  background: #333333;
  padding: 16px 10px 6px;
  text-align: center;
  font-size: 12px;
  color: #C2C2C2;
  span {
    display: inline-block;
    margin-right: 10px;
    height: 24px;
    line-height: 23px;
  }
}



// 放大镜
.magnifier-thumb-wrapper {
    position: relative;
    display: block;
    top: 0;
    left: 0
}

.magnifier-lens {
    position: absolute;
    border: solid 1px #ccc;
    z-index: 1000;
    top: 0;
    left: 0
}

.magnifier-loader {
    position: absolute;
    top: 0;
    left: 0;
    border: solid 1px #ccc;
    color: #fff;
    text-align: center;
    background: transparent;
    background: rgba(50, 50, 50, 0.5);
    z-index: 1000;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F323232,endColorstr=#7F323232)";
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F323232,endColorstr=#7F323232)
}

.magnifier-loader-text {
    font: 13px Arial;
    margin-top: 10px
}

.magnifier-preview {
    position: absolute;
    width: 418px;
    height: 420px;
    left: 418px;
    top: -1px;
    padding: 0;
    overflow: hidden;
}

.magnifier-preview img {
    position: absolute;
    top: 0;
    left: 0
}

.opaque {
    opacity: .5;
    filter: alpha(opacity=50);
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50)
}

.hidden {
    display: none
}

// #thumb-lens {
//     background-size: 415px 415px !important;
// }


// 轮播图
.carousel-inner .item {
  width: 1200px;
  height: 375px;
}