// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*details*/
.location {
	line-height: 30px;
	padding-bottom: 3px;
}

.intro-bigPic {
	width: 420px;
	height: 420px;
}

.intro-preview {
	margin-top: 15px;
	.intro-preview-item {
		padding: 1px;
		margin-right: 13px;
		overflow: hidden;
		img {
			width: 100%;
			width: 70px;
			height: 70px;
		}
	}
	.intro-preview-activeItem {
		border-color: #DB3652;
	}
}

.intro-text {
	width: 744px;
	h3 {
		margin-top: 0;
		line-height: 30px;
	}
}

.intro-text-desc {
	margin-top: 7px;
}

.intro-text-value {
	height: 60px;
	line-height: 60px;
}

.intro-text-service {
	height: 50px;
	line-height: 50px;
}

.intro-text-btn {
	display: block;
	width: 178px;
	height: 48px;
	line-height: 48px;	
	border: 1px solid #d32048;
	font-family: "Microsoft Yahei",simhei;
	&.add-cart {
		color: #fff;
	}
}

.productDetail-tabList {
	border-bottom: 1px solid #D8D8D8;
}

.productDetail-tabList-tab {
	height: 35px;
	line-height: 35px;
	background: #fff;
	border-right: 1px solid #D8D8D8;
}

.productDetail-content img {
	width: 700px;
}