// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*details*/
.location {
	line-height: 30px;
	padding-bottom: 3px;
}

.intro-bigPic {
	width: 420px;
	height: 420px;
	img {
		width: 100%;
	}
}

.intro-preview {
	margin-top: 15px;
	.intro-preview-item {
		padding: 1px;
		margin-right: 13px;
		overflow: hidden;
		img {
			width: 100%;
			width: 70px;
			height: 70px;
		}
	}
	.intro-preview-activeItem {
		border-color: #DB3652;
	}
}

.intro-text {
	width: 744px;
	h3 {
		margin-top: 0;
		line-height: 30px;
	}
}

.intro-text-desc {
	margin-top: 7px;
}

.intro-text-value {
	height: 60px;
	line-height: 60px;
}

.intro-text-service {
	height: 50px;
	line-height: 50px;
}

.intro-text-btn {
	display: block;
	width: 178px;
	height: 48px;
	line-height: 45px;	
	border: 1px solid #d32048;
	font-family: "Microsoft Yahei",simhei;
	border-radius: 50px;
	&.add-cart {
		color: #fff;
	}
}

.intro-favorite-count {
	color: #6D6D6D;
	font-family: tahoma,arial,\5FAE\8F6F\96C5\9ED1,sans-serif;
}

.productDetail-tabList {
	border-bottom: 1px solid #D8D8D8;
}

.productDetail-tabList-tab {
	cursor: pointer;
	height: 35px;
	line-height: 35px;
	border-right: 1px solid #D8D8D8;
}

.productDetail-tabList-activeTab {
	background: #fff;
}

.productDetail-content {
	display: none;
}

.productDetail-content .productDetail-introImg img {
	width: 700px;
}

.commentList-item {
	width: 670px;
	border-bottom: 1px solid #DDDDDD;
}

.commentList-item .content {
	width: 420px;	
}

.commentList-item .content .commentImage {
	width: 50px;
  height: 50px;
	padding: 2px;
	margin-top: 10px;
	margin-right: 2px;
	&.selected {
		border: 1px solid #d32048;
	}
}

.commentList-item .commentBigImage {
	margin-top: 20px;
	width: 300px;
	display: none;
}

.commentList-item .name {
	width: 180px;
}

.comment-say a {
	margin-right: auto;
	margin-left: auto;
	color: #fff;
	&:hover {
		color: #fff;
	}
}

.comment-userName {
	margin-top: 2px;
}

.comment-avatar {
	width: 25px;
	height: 25px;
	border-radius: 50%;
}

.comment-image img {
	width: 70px;
}

.comment-image-scale img {
	width: 220px;
}

.productDetail-evaluation {
	letter-spacing: 5px;
}

/*商品列表*/
.productList {
  margin-bottom: 0;
}
.productList-item {
  width: 230px;
  height: 350px;
  background: #fff;
  margin-right: 12px;
  margin-bottom: 12px;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.09);
  position: relative;
  top: 0;
  -webkit-transition: all .4s;
  transition: all .4s;
  &:hover {
    position: relative;
    top: -2px;
    box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, 0.15);
    .productList-item-cartBtn {
    	display: block;
    }
  }
  img {
    width: 100%;
    height: 200px;
  }
}
.productList-lastItem {
  margin-right: 0;
}
.productList-item-name {
  color: #333;
}
.productList-item-desc {
  color: #808080;
}
.productList-item-cartBtn {
	top: 168px;
  right: 20px;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	background: #fff;
	border-radius: 50%;
	display: none;
	-webkit-transition: all .1s;
  transition: all .1s;
}
.productList-item-cartBtn:hover {
	background: #D32048;
	.fa-shopping-cart {
		color: #fff;
	}
}
.productList-item-sellout {
	position: absolute;
	top: 80px;
	left: 50%;
	width: 70px;
	height: 70px;
	line-height: 70px;
	margin-left: -35px;
	font-size: 16px;
	background-color: rgba(0, 0, 0, .55);
	border-radius: 50%;
	color: #fff;	
}

/*放大镜*/
.magnifier-thumb-wrapper {
    position: relative;
    display: block;
    top: 0;
    left: 0
}

.magnifier-lens {
    position: absolute;
    border: solid 1px #ccc;
    z-index: 1000;
    top: 0;
    left: 0
}

.magnifier-loader {
    position: absolute;
    top: 0;
    left: 0;
    border: solid 1px #ccc;
    color: #fff;
    text-align: center;
    background: transparent;
    background: rgba(50, 50, 50, 0.5);
    z-index: 1000;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F323232,endColorstr=#7F323232)";
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F323232,endColorstr=#7F323232)
}

.magnifier-loader-text {
    font: 13px Arial;
    margin-top: 10px
}

.magnifier-preview {
    position: absolute;
    width: 418px;
    height: 420px;
    left: 418px;
    top: -1px;
    padding: 0;
    overflow: hidden;
    visibility: hidden;
}

.magnifier-preview img {
    position: absolute;
    top: 0;
    left: 0
}

.opaque {
    opacity: .5;
    filter: alpha(opacity=50);
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50)
}

.hidden {
    display: none
}