<div class="menu-wrap">
  <ul class="menuList clearfix w1200 f16">
    <li class="menuList-item menuList-activeItem fl pl20 pr20 ml40">
      首页
    </li>
    <li class="menuList-item fl">
      电脑办公
    </li>
    <li class="menuList-item fl">
      数码产品
    </li>
    <li class="menuList-item fl">
      美食天地
    </li>
    <li class="menuList-item fl">
      潮流新平
    </li>
    <li class="menuList-item fl">
      其他商品
    </li>
  </ul>
</div>