<div class="menu-wrap">
  <ul class="menuList clearfix w1200 f16">
    <li class="menuList-item menuList-activeItem fl pl20 pr20 ml40">
      <%= link_to("首页", products_path)%>
    </li>
    <% Category.all.each do |category| %>
    <li class="menuList-item fl">
       <%= link_to category.name, products_path(category: category.name), class: "link" %>
       <% end %>
    </li>
  </ul>
</div>
