<div class="search clearfix bc pr mt20">
  <%= form_tag search_products_path , :method => :get do %>
    <input class="search-input fl w400" type="text" class="form-control" name="q" value="<%= params[:q] %>">
    <button type="submit" class="search-button">搜索</button>
  <% end %>
</div>