<div class="search clearfix pr">
  <%= form_tag search_products_path , :method => :get do %>
    <!-- <input class="search-input fl w400" type="text" class="form-control" name="q" value="<%= params[:q] %>" placeholder="输入你要搜索的商品">
    <button type="submit" class="search-button pa tc"><i class="fa fa-search col-red"></i></button> -->
    <div class="input-group" >
			<input type="text" class="form-control" placeholder="search" name="query_string">
			<div class="input-group-btn">
				<button class="btn btn-danger" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
			</div>
		</div>
  <% end %>
</div>
