<div id="sidebar" class="sidebar f12 mt30">
  <ul>
    <li class="backtop"><i class="fa fa-arrow-circle-up"></i></li>
    <li class="support">
      <i class="fa fa-thumbs-o-up"></i>
      <div class="ewm">
        <p>
          觉得不错嘛？<br>
          来，动动小手<br>
          <a href="https://fullstack.xinshengdaxue.com/works/201" target="_blank" class="col-red">帮我们投个票</a><br>
          谢谢^_^
        </p>
      </div>
    </li>
  </ul>
</div>

<footer class="footer">
	<p>关于我们 <span>|</span> 帮助中心 <span>|</span> 开放平台 <span>|</span> 诚聘英才 <span>|</span> 联系我们 <span>|</span> 网站合作 <span>|</span> 友情链接</p>
	<p>
    <span class="logo-text">Copyright ©2017 购物商店</span>
    <span class="icp-center">Design by 郑智 & 陈俊鸿</span>
	</p>
</footer>
